.loginScreen {
  position: relative;
  height: 100%;
  background: url("https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg") center
    no-repeat;
  background-size: cover;
}
.loginScreen_button {
  position: fixed;
  right: 20px;
  top: 20px;
  padding: 10px 20px;
  color: white;
  background-color: tomato;
  font-weight: 600;
  border: none;

  cursor: pointer;
}
.loginScreen_logo {
  position: fixed;
  left: 0;
  padding: 10px 20px;
  width: 150px;
  object-fit: contain;
  padding-left: 20px;
}
.loginSreen_gradien {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.loginScreen_body {
  position: absolute;
  text-align: center;
  top: 30%;
  z-index: 1;
  color: rgb(255, 255, 255);
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  right: 0;
  left: 0;
}
.loginScreen_body > h1 {
  font-size: 3.125rem;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}
.loginScreen_body > h2 {
  font-size: 2rem;
  text-align: center;

  font-weight: 400;
  margin-bottom: 30px;
}
.loginScreen_body > h3 {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
}
.loginScreen_input {
  margin: 20px;
}
.loginScreen_input > form > input {
  outline-width: 0px;
  padding: 10px;
  height: 30px;
  width: 30%;
  border: none;
  max-width: 600px;
}
.loginScreen_gs {
  padding: 16px 20px;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  background-color: brown;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
