.profileScreen {
  height: 100vh;
  color: white;
}
.profileScreen_body {
  display: flex;
  flex-direction: column;
  color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
.profileScreen_details {
  color: white;
  flex: 1;
  margin-left: 25px;
}
.profileScreen_details > h2 {
  color: white;
  background-color: gray;
  padding: 15px;
  font-size: 15px;
  padding-left: 20px;
}
.profileScreen_info {
  display: flex;
}
.profileScreen_body > h1 {
  font-size: 60px;
  font-weight: 400;
  border-bottom: 1px solid #282c2d;
  margin-bottom: 20px;
}

.profileScreen_info > img {
  height: 100px;
}
.profileScreen-logout {
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 5%;
  width: 100%;
  color: white;
  background-color: #ff6347;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.profilescreen_plans > h3 {
  border-bottom: 1px solid #282c2d;
  padding-bottom: 10%px;
}

.profilescreen_plans {
  padding: 10px 20px;
  font-size: 1rem;
  margin: 20px;
  margin-top: 5%;
  width: 100%;
  color: white;
  font-weight: 600;
  border: none;
}
.profilescreen_plans >button
 {
  padding: 10px 20px;
  font-size: 1rem;
  margin: 20px;
  margin-top: 5%;
  width: 100%;
  color: white;
  font-weight: 600;
  border: none;
}
